.document-list {
    list-style: none; 
    font-weight: 300;
}

section {
    padding: 0;
}

ul {
    padding: inherit;
}

.document-list li {
    color: black;
}

a {
    font: inherit;
    color: inherit;
}

li:nth-child(4) {
    color: red;
    font-size: 40px;
}

.wert {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    margin: auto;
    border: 5px solid aqua;
}